---
import { Image } from 'astro:assets'

import { Quote } from 'astro-pure/advanced'
// import { PostPreview } from 'astro-pure/components/pages'
import PostPreview from '@/components/pages/PostPreview.astro'
import { getBlogCollection, sortMDByDate } from 'astro-pure/server'
import { Button, Card, Icon, Label } from 'astro-pure/user'
import PageLayout from '@/layouts/BaseLayout.astro'
import ProjectCard from '@/components/home/ProjectCard.astro'
import Section from '@/components/home/Section.astro'
import SkillLayout from '@/components/home/SkillLayout.astro'
import avatar from '@/assets/xz_cr_500x500.webp'
import config from '@/site-config'

// const languages = ['Html', 'JavaScript', 'CSS', 'Shell']
// const frontend = ['TypeScript', 'Vite', 'Webpack', 'Astro']
// const backend = ['Vercel', 'Waline']

const MAX_POSTS = 9
const allPosts = await getBlogCollection()
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS)
---

<PageLayout meta={{ title: '主页' }} highlightColor='#659EB9'>
  <main class='flex w-full flex-col items-center'>
    <section class='animate mb-10 flex flex-col items-center gap-y-7' id='content-header'>
      <Image
        src={avatar}
        alt='profile'
        class='h-28 w-auto rounded-full border p-1'
        loading='eager'
      />

      <div class='flex flex-col items-center gap-y-4'>
        <h1 class='text-3xl font-bold'>{config.author}</h1>
        <div class='flex flex-wrap justify-center gap-x-7 gap-y-3'>
          <Label
            title='Email'
            as='a'
            href='mailto:byx2020@outlook.es'
            target='_blank'
          >
            <Icon name='email' class='size-5' slot='icon' />
          </Label>
          <Label
            title='Github'
            as='a'
            href='https://github.com/byx2020'
            target='_blank'
          >
            <Icon name='github' class='size-5' slot='icon' />
          </Label>
        </div>
        <Quote class='relative flex items-center justify-center' />
      </div>

      {/* 获取模板 */}
      {/* <a
        href='https://github.com/cworld1/astro-theme-pure'
        target='_blank'
        class='flex flex-row items-center gap-x-3 rounded-full border bg-background px-4 py-2 text-sm shadow-sm transition-shadow hover:shadow-md'
      >
        <span class='relative flex items-center justify-center'>
          <span
            class='absolute size-2 animate-ping rounded-full border border-green-400 bg-green-400 opacity-75'
          ></span>
          <span class='size-2 rounded-full bg-green-400'></span>
        </span>
        <p class='font-medium text-muted-foreground'>获取模板</p>
      </a> */}
    </section>

    <div id='content' class='animate flex flex-col gap-y-10 md:w-4/5 lg:w-5/6'>
      <Section title='关于'>
        <p class='text-muted-foreground'>
          这里汇总了边缘星2020的网站、项目和文章等相关信息。
        </p>
        <Button title='更多关于' class='w-fit self-end' href='/about' variant='ahead' />
      </Section>

      {/* <Section title='经历'>
      <Card
        heading='示例项目'
        subheading='示例副标题'
        date='2022年12月 - 2023年11月'
        imagePath='/src/assets/about-astro.png'
        altText='示例图片'
        imageClass='h-12 w-auto md:-start-16'
      >
        <ul class='ms-4 list-disc text-muted-foreground'>
          <li>
            这是一个示例经历条目，展示了前端开发与设计相关内容。
            <li>更多经历内容可在此补充。</li>
          </li>
        </ul>
      </Card>
      <Card
        heading='示例项目'
        subheading='示例副标题'
        date='2022年12月 - 2023年11月'
        imagePath='/src/assets/about-astro.png'
        altText='示例图片'
        imageClass='h-12 w-auto md:-start-16'
      />
      </Section>
      
      <Section title='教育'>
        <Card
          as='a'
          heading='示例学历'
          subheading='2021年8月 - 2025年7月'
          date='2021年8月 - 2025年7月'
          href='https://www.youtube.com/watch?v=dQw4w9WgXcQ'
        >
          {
             <ul class='ms-4 list-disc text-muted-foreground'>
          <li>
            这是一个示例教育经历条目，展示了学习内容与时间。
          </li>
          <li>更多教育经历可在此补充。</li>
        </ul> 
          }
        </Card>
      </Section> */}

  <Section title='网站列表'>
        <div class='grid grid-cols-1 gap-3 sm:grid-cols-2'>
          <ProjectCard
            href='/docs-ec'
            heading='EdgeCloud文档'
            subheading='个人搭建维护了五年的Q群工具型Bot，目前主要服务于起点书友相关群'
            imagePath='/src/assets/projects/wallhaven-gj7jee2_cr520x200.webp'
          />
          <ProjectCard
            href='http://byx2020.ysepan.com/'
            heading='边缘星的杂货铺'
            subheading='个人使用了八年的轻量资源分享网盘，希望能够帮到更多有需要的人'
            imagePath='/src/assets/projects/wh0_cr520x220.webp'
          />
          <ProjectCard
            href='https://bbs.ra2ol.com/mapcenter/author.php?aid=68'
            heading='红色警戒2尤复地图'
            subheading='个人于2019-2023年期间制作，战网热度累计4.5w+，欢迎游玩体验'
            imagePath='/src/assets/projects/RA2map2_cr520x200.webp'
          />
          <ProjectCard
            href='https://link.byx2020.com/'
            heading='边缘短网址转换'
            subheading='基于开源项目Sink部署，为EdgeCloud的部分功能提供支持'
            imagePath='/src/assets/projects/sink_520x200.webp'
          />
        </div>
      </Section>

      
      {
        allPostsByDate.length > 0 && (
          <Section title='文章列表'>
            <ul class='flex flex-col gap-y-1.5 sm:gap-y-2'>
              {allPostsByDate.map((p) => (
                <li class='flex flex-col gap-x-2 sm:flex-row'>
                  <PostPreview post={p} />
                </li>
              ))}
            </ul>
            <Button title='更多文章' class='w-fit self-end' href='/blog' variant='ahead' />
          </Section>
        )
      }

      {/* <Section title='证书'>
        <Card
          as='a'
          heading='示例证书'
          subheading='这是一个示例证书描述，包含获得时间和相关说明。可补充更多证书信息。'
          date='2024年7月'
          href='https://www.youtube.com/watch?v=dQw4w9WgXcQ'
        />
      </Section>

      <Section title='技能'>
        <SkillLayout title='编程语言' skills={languages} />
        <SkillLayout title='前端' skills={frontend} />
        <SkillLayout title='后端' skills={backend} />
      </Section> */}
    </div>
    {/* <Quote class='mt-12' /> */}
  </main>
</PageLayout>
